unstructured[all-docs]
ipykernel
unstructured-inference
python-dotenv
google.generativeai
openai
opensearch-py
langchain
langchain-core
fastapi
uvicorn[standard]
python-multipart
pydantic-settings
sqlalchemy
psycopg2-binary
gradio
